$def with(datos)
<html>
    <head>
        <body style="background-color:#81F79F">
    </head>
    <body>

       <h3><a href="/index">REGRESAR</a></h3>
       <h1><center>__________________________________________________________________________________________________________</h1>
       <h1><center><font color="#0B6138" face="Aharoni">BUSQUEDA</font></h1>
       <h1><center>___________________________________________________________________________________________________________</h1>
      
       <h2><center>ENTIDAD<select name="entidad" id="entidad" style="margin-left:160px;width:270px"><option value="">******</option></h2>
             $ posicion=0
             $for row in datos:
             <option value="">$row </option>
              $ posicion +=1
            </select>
        <h3><center>MUNICIPIO <select name="municipio" id="municipio" style="margin-left:105px;width:270px"><option value="">******</option></h3>
             $for row in datos:
             <option value="">$row</option>
             $ posicion +=1
            </select>
            <p>
    <button id="enviar" style="margin-left:410px;width:120px">ENVIAR</button>
    <p> </p>
        <table border="10px" bordercolor="#0B6138" ALIGN=center>
        <td width='100'><strong>NO</strong></td>
        <td width='200'><strong>ENTIDAD</strong></td>
        <td width='200'><strong>MUNICIPIO</strong></td>
        <td width='250'><strong>PORCENTAJE DE ANALFABETIZACION</strong></td>
           </tr>
           <tr>
            <td><td> <td> </td></td>
            </tr>
    </body>
</html>