$def with(datos)
<html>
    <head></head>
    <body>
        <center><table border="10px"></center>
            <tr>
                <td width="20"><strong><center>NO</strong></td>
                <td width="20"><strong><center>CLAVE-ENTIDAD</strong></td>
                <td width="20"><strong><center>ENTIDAD</strong></td>
                <td width="90"><strong>CLAVE-MUNICIPIO</strong></td>
                <td width="60"><strong><center>MUNICIPIO</strong></td>
                <td width="60"><strong>POBLACION TOTAL</strong></td>
                <td width="60"><strong>% ANALFABETIZACION</strong></td>
                <td width="60"><strong>% SIN SERVICIO DE SALUD</strong></td>
                <td width="60"><strong>% VIVIENDA PISO/TIERRA</strong></td>
                <td width="60"><strong>% VIVIENDA S/SANITARIO</strong></td>
                <td width="60"><strong>% VIVIENDA S/ENERGIA</strong></td>
                <td width="60"><strong>GRADO DE REZAGO SOCIAL</strong></td>
                </tr>
            $ posicion=0 
            $for row in datos:
            <tr>
                <td>$posicion</td> 
                <td>$row['clave_ent']</td>
                <td>$row['ent']</td>
                <td>$row['clave_mun']</td>
                <td>$row['mun']</td>
                <td>$row['pobtot_00']</td>
                <td>$row['porc_pob_15+_analfa00']</td>
                <td>$row['porc_pob_snservsal00']</td>
                <td>$row['porc_vivpisotierra00']</td>
                <td>$row['porc_vivsnsan00']</td>
                <td>$row['porc_vivsnenergia00']</td>
                <td>$row['gdo_rezsoc00']</td>
                $ posicion += 1
                </tr>
    </body>
</html>
    
     